# Vscode
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

temp/
data/output/processed/*
data/output/processed_videos/*
videofactory/legacy

!data/output/processed/.gitkeep
!data/output/processed_videos/.gitkeep